<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&amp;subset=latin" rel="stylesheet" type="text/css"> 
  <script type="text/javascript" src="jquery-1.6.1.js"></script>
  <script type="text/javascript" src="jquery.tmpl.js"></script>
  <script type="text/javascript" src="jquery.isotope.min.js"></script>
  <script type="text/javascript" src="schmarchive.js"></script>   
  <link rel="stylesheet" type="text/css" href="reset.css" />
  <link rel="stylesheet" type="text/css" href="schmarchive.css" />
  <!--BEGIN TEMPLATES-->
  <script id="item_tmpl" type="text/html" charset="utf-8">
    <div class="inv_item ${type}{{if hidden}} hidden{{/if}}">
      <div class="inv_item_name ${type}">${name}</div>
      <button class="get">Get</button>
      <div class="perms">
      Permissions <br /> 
        Current:
        <span class="{{if mod}}enabled{{else}}disabled{{/if}}">m</span> /
        <span class="{{if copy}}enabled{{else}}disabled{{/if}}">c</span> /
        <span class="{{if trans}}enabled{{else}}disabled{{/if}}">t</span>
      <br />
        Next:
        <span class="{{if next_mod}}enabled{{else}}disabled{{/if}}">m</span> /
        <span class="{{if next_copy}}enabled{{else}}disabled{{/if}}">c</span> /
        <span class="{{if next_trans}}enabled{{else}}disabled{{/if}}">t</span>
      </div>
    
      {{if thumb}}<img class="thumb" src="http://secondlife.com/app/image/${thumb}/1" />{{/if}}
    </div>
  </script>
  <script id="title_tmpl" type="text/html" charset="utf-8">
    <h2>${objname}</h2>
  </script>
  <script id="css_tmpl" type="text/html" charset="utf-8">
    <link rel="stylesheet" href="${url}" type="text/css" media="screen" charset="utf-8">
  </script>
  <!--END TEMPLATES-->
  
  <script type="text/javascript" charset="utf-8">
//when the dom is ready, query the prim.
$(document).ready(function() {
    Schmarchive2.init('#frame');
});
</script>
</head>
<body>
<div id="header">
  <div id="title"></div>
  <section id="options" class="clearfix"> 
 
      <ul id="filters" class="option-set clearfix" data-option-key="filter"> 
        <li><a href="#filter" data-filter=":not(.hidden, .about)" class="selected">default</a></li>
        <li><a href="#filter" data-filter=".texture">texture</a></li> 
        <li><a href="#filter" data-filter=".sound">sound</a></li> 
        <li><a href="#filter" data-filter=".landmark">landmark</a></li> 
        <li><a href="#filter" data-filter=".clothing">clothing</a></li> 
        <li><a href="#filter" data-filter=".object">object</a></li> 
        <li><a href="#filter" data-filter=".notecard">notecard</a></li> 
        <li><a href="#filter" data-filter=".script">script</a></li> 
        <li><a href="#filter" data-filter=".bodypart">bodypart</a></li> 
        <li><a href="#filter" data-filter=".animation">animation</a></li> 
        <li><a href="#filter" data-filter=".gesture">gesture</a></li> 
        <li><a href="#filter" data-filter=".hidden">hidden</a></li> 
        <li><a href="#filter" data-filter=".about">about</a></li> 
      </ul> 
  </section> <!-- #options --> 
</div>
<div id="frame">
  <div class="inv_item about double tmphide">
    <div class="inv_item_name gesture about">Thanks</div>
    <p>
      Schmarchive uses search.secondlife.com for image thumbnails, and inventory icons from the "Silver"
      skin of the version 1 Second Life Viewer.
    </p>
    <p>
      Layout and filtering features are provided by the awesome <a href="http://isotope.metafizzy.co/">Isotope</a> plugin for 
     jQuery. 
   </p>

  </div>
  <div class="inv_item about double tmphide">
    <div class="inv_item_name notecard about">License</div>
    <p>
      Schmarchive is <a href="http://bits.btubbs.com/schmarchive2/src">open source</a> and licensed under the GPL.
    </p>
    <p>
      But if you want to set up a copy of Schmarchive on your own server, for commercial use, you'll need to <a href="http://isotope.metafizzy.co/docs/license.html">buy a license</a>
     for Isotope. 
    </p>
  </div>
  <div class="inv_item about double tmphide">
    <div class="inv_item_name texture about">Thumbnails</div>
    <p>
      Textures will automatically use search.secondlife.com thumbnails, except for textures with alpha in them (these aren't thumbnailed
      by search.secondlife.com).
    </p><p>
      Or you can set your own thumbnail for <em>any</em> item by putting a texture inside the Schmarchive
      and naming it like ".thumb:ITEM_NAME" (where you replace ITEM_NAME with the actual name of the item).  See the 
      thumbnail for the README file as an example.
    </p>
  </div>
  <div class="inv_item about double tmphide">
    <div class="inv_item_name clothing about">Styling</div>
    <p>
      Schmarchive also lets you put your own custom CSS on the page.  There's a .css notecard inside the 
      prim that will be served as a CSS stylesheet.
    </p>
  </div>
  <div class="inv_item about double tmphide">
    <div class="inv_item_name script about">Tech</div>
    <p>
      It's built entirely with LSL, Javascript, HTML and CSS.  There is no database or server side code.
    </p>
    <p>
      <a href="http://en.wikipedia.org/wiki/JSONP">JSONP</a> is awesome.
    </p>
    <p>
      Schmarchive is the creation of Schmobag Hogfather (aka Brent Tubbs in real life).
    </p>
  </div>
</div>
</body>
</html>
