.inv_item {
  border: 10px solid #151515;
  /*min-width: 100px;*/
  /*min-height: 100px;*/
  background: #2e2e2e;
  padding: 5px;
  width: 150px;
}

.inv_item.about {
  font-size: 13px;
  color: #ddd;
}

.inv_item.double {
  width: 330px;
}

.tmphide {
  display: none;
}

.inv_item_name {
    padding-left: 21px;
    padding-top: 1px;
    min-height: 20px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    font-size: 14px;
    width: 125px;
    overflow: hidden;
}

.item_li {
    cursor: pointer;
}

.inv_item_name.texture {
    background-image: url('texture.png');
}
.inv_item_name.sound {
    background-image: url('sound.png');
}
.inv_item_name.landmark {
    background-image: url('landmark.png');
}
.inv_item_name.clothing {
    background-image: url('clothing.png');
}
.inv_item_name.object {
    background-image: url('object.png');
}
.inv_item_name.notecard {
    background-image: url('notecard.png');
}
.inv_item_name.script {
    background-image: url('script.png');
}
.inv_item_name.bodypart {
    background-image: url('bodypart.png');
}
.inv_item_name.animation {
    background-image: url('animation.png');
}
.inv_item_name.clothing {
    background-image: url('clothing.png');
}
.inv_item_name.gesture {
    background-image: url('gesture.png');
}

.inv_list {
    margin-top: 10px;
}

.inv_list li {
    padding: 2px 0;
    list-style: none;
}

.inv_list li:nth-child(even) {
    background: #222;
}

.inv_list li.highlight {
    background: #324D00;
}

li.invisible {
    display: none;
}

.child_list {
    margin-top: 7px;
}

.child_list li {
    background-image: url('folder-16.png');
    padding: 2px 0 2px 21px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.child_list li.active {
    background-color: orange;
}

body {
    background-color: #151515;
    font-family: 'Droid Sans', arial, serif;
    font-size: 15px;
    color: white;
}

a{
    color: #94C4FF;
}

#header {
    background-color: #151515;
    color: white;
    padding: 10px;

}
#header h1 {
    margin: 0px;
}
#header h2 {
    font-weight: bold;
    font-size: 25px;
    margin: 10px 10px 10px 0;
}

#welcome {
    font-size: 40px;
}

#livecontent {
    min-height: 450px;
}

#livecontent, #textcontent {
    padding: 10px;
    margin-bottom: 20px;
}

.inset_block {
    -moz-box-shadow:inset 0 0 5px #000000;
    -webkit-box-shadow:inset 0 0 5px #000000;
    box-shadow:inset 0 0 5px #000000;
    margin-top: 10px;
    color: white;
    background: #151515;
    padding: 5px;
    float: left;
    width: 300px;
}

.inset_block h4 {
    margin-bottom: 7px;
    /*display: inline;*/
}

#av_container h4 {
    display: inline;
    float: left;
    margin-right: 4px;
    margin-bottom: 0px;
}

#av_container .username {
    color: #666;
    float: left;
    clear: left;
    margin-bottom: 6px;
}

#av_container p {
    clear: left;
    font-size: 14px;
    color: #ddd;
}

#info_container {
    float: left;
    background: #151515;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    /*min-height: 300px;*/
}

#info_container li {
    list-style: none;
}

h4.inv_item {
    display: inline;
}

.item_info {
    width: 100%;
}

#info_container .details {
    font-size: 10px;
    color: #888;
    margin: 5px 0;
}

#info_container .details dt {
    color: #eee;
    font-size: 13px;
    margin-top: 6px;
}

#info_container .bigassbutton {
    background-color: orange;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    float: left;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    margin: 7px 0;
}

#info_container .bigassbutton:active {
    background-color: #324D00;
}

.thumb {
  display: block;
  width: 150px;
  height: 150px;
  float: right;
  margin-top: 4px;
}

#item_send_status {
    float: left;
    height: 24px;
    width: 24px;
    background-position: center;
    background-repeat: no-repeat;
}
#item_send_status.loading {
    background-image: url('ajax-loader.gif');
    margin: 7px 0 0 10px;
}
#item_send_status.success {
    background-image: url('thumbs_up.png');
    margin: 9px 0 0 10px;
}

.block_wrapper {
    float: left;
    margin: 10px 10px 30px 10px;
    width: 310px;
}

.block_wrapper h3 {
    display: inline;
}

#inv_wrap {
    overflow: hidden;
}

#inv_container {
    position: relative;
    min-height: 300px;
    height: 100%;
}

.inv_block {
    position: absolute;
    width: 300px;
}

.inv_block.child {
    left: 310px;
}

.inv_block.parent {
    left: -310px;
}

.inv_block h4 {
    display: inline;
    font-size: 20px;
}

.inv_parent {
    float: right;
    display: inline;
    font-size: 10px;
}

p {
    margin-top: 20px;
    line-height: 19px;
}

p:first-child {
    margin-top: 0px;
}

.perms {
  font-size: 10px;
  color: #888;
  float: left;
}

.perms .enabled{
  color: green;
}

.perms .disabled{
  color: red;
}

.inv_item button {
  display: block;
  float: right;
}

/* Support for isotope filtering, animating */
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

#options {
  padding-bottom: 1.0em;
}

#options h3 {
  margin-bottom: 0.2em;
  font-size: 15px;
}

#options h4 { 
  font-weight: bold;
}

#options ul {
  margin: 0;
  list-style: none;
}

#options ul ul {
  margin-left: 1.5em;
}

#options li {
  float: left;
  margin-bottom: 0.2em;
}

#options li a {
  display: block;
  padding: 0.4em 0.5em;
  background-color: #222;
  color: #DDD;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px hsla( 0, 0%, 0%, 0.5 );
  background-image: -moz-linear-gradient( -90deg, 
    hsla( 0, 0%, 100%, 0.5 ) , 
    hsla( 0, 0%, 100%, 0.0 ) 
  );
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, 
    from( hsla( 0, 0%, 100%, 0.5 ) ), 
    to(   hsla( 0, 0%, 100%, 0.0 ) )
  );
  background-image: -o-linear-gradient( -90deg, 
    hsla( 0, 0%, 100%, 0.5 ) , 
    hsla( 0, 0%, 100%, 0.0 ) 
  );
}

#options li a:hover {
  background-color: #256600;
  text-decoration: none;
}

#options li a:active {
  text-decoration: none;
  background-color: #256600;
  -webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
     -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
       -o-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
          box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
}

#options li a {
  text-decoration: none;
  border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );
  border-right: 1px solid hsla( 0, 0%,   0%, 0.2 );
}

#options li:first-child a {
  border-radius: 3px 0 0 3px;
  border-left: none;
}

#options li:last-child a {
  border-radius: 0 3px 3px 0;
}

#options li a.selected {
  background-color: #eee;
  text-shadow: none;
  color: #222;
  -webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
     -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
       -o-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
          box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
}

button {
   border-top: 1px solid #f5f5f5;
   background: #454545;
   background: -webkit-gradient(linear, left top, left bottom, from(#8a8a8a), to(#454545));
   background: -moz-linear-gradient(top, #8a8a8a, #454545);
   padding: 2.5px 8px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.7) 0 -1px 1px;
   color: #ffffff;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   border-left: none;
   border-right: none;
   border-bottom: none;
   }
button:hover {
   border-top-color: #757575;
   background: #757575;
   color: #ccc;
   }
button:active {
   border-top-color: #5c5c5c;
   background: #5c5c5c;
   }

button.get {
  position: relative;
  top: 8px;
}
/* Combination filter options*/

#options .option-combo {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

#options .option-combo ul {
  margin-right: 20px;
  display: inline-block;
}

#options .option-combo h2,
#options .option-combo h4 {
  line-height: 34px;
  margin-bottom: 0;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

/* end isotope */

/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
